.pin-shell {
  border-radius: 4px;
  border: 1px solid transparent;
}

.pin-shell.unlocked {
  border-color: white;
}

.pin-shell-buttons {
  -gtk-icon-size: 12px;
}
.pin-shell-buttons button,
.pin-shell-buttons menubutton {
  padding: 0;
}
